<% layout('layouts/boilerplate') %>

<h1>All Houses</h1>
<a href="/houses/new"><input class="btn btn-outline-primary pull-right" type="button" value="Add a House"></a>

<p></p>

<h2>Sorry! No Houses Found!</h2>